* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

form {
  float: left;
}

form * {
  display: block;
}

.signUpForm {
  display: block;
  flex: 1;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 540px;
  margin: auto;
}

.signUpForm  input {
  height: 50px;
  border: 1px solid #d3dce6;
  border-radius: 8px;
  padding: 0 12px;
  margin: 5px;
}

.signUpForm  button {
  background-color: #ecf0f4;
  border-color: #ecf0f4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0 30px;
  height: 40px;
  border-radius: 100px;
  text-align: center;
  touch-action: manipulation;
  text-transform: capitalize;
  white-space: nowrap;
  user-select: none;
  position: relative;
  letter-spacing: 0;
  border: 1px solid transparent;
  cursor: pointer;
}

.info-error {
  color: red;
}

.info-success {
  color: green;
}
